
*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --dark-bg: #000;
    --dark-text: #fff;
    --c-btn-color: #0f0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-calc{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container-dark{
    background: #000;
    color: #fff;
}
#container-light{
    background: #fff;
    color: #000;
}
.calculator{
    height: 90vh;
    width: 25vw;
    border-radius: 8px;
    background: #111;
    box-shadow: 0 0 8px #888;
}
